*.sql.gz
.netbox
.python-version
*.pem
configuration/*
!configuration/configuration.py
!configuration/extra.py
configuration/ldap/*
!configuration/ldap/extra.py
!configuration/ldap/ldap_config.py
!configuration/logging.py
!configuration/plugins.py
super-linter.log

authorized_key.json
secrets/.gitlab
secrets/key.json
build-*.log
archive/**
inventory/**
/env
/secrets
./.env.backend
./.env.pg
./.env
./.build.tags
